a:link{
    font-size:14px;
    text-decoration:none;
    font-family:'Segoe UI';
    font-style:normal;
    color:#000;
}
a:hover{
    font-size:18px;
    color:yellow;
}
.txt{
    border:2px solid#456879;
    border-radius:10px;
    height:22px;
    width:230px;
}
.btn{
    border:2px solid#777;
    border-radius:10px;
    outline:none;
    width:235px;
    height:35px;
    font-size:18px;
}
.btn:hover{
    cursor:pointer;
    font-size:20px;
}